@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// ============================================================
//  共通レイアウト
// ============================================================
.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 40px;
  @include sp { padding: 0 20px; }

  @include tab {
    padding: 0 20px;
  }
}
