@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// ============================================================
//  ABOUT SECTION
// ============================================================
.about {
  padding: $section-pad-v 0;
  background: $color-white;

  &__text {
    width: fit-content;
    margin: 0 auto;
    padding-top: 40px;

    @include sp {
      padding-top: 0;
    }
    
    p {
      font-size: 18px;
      line-height: 2;
      color: $color-text;
      margin-bottom: 20px;
      font-weight: 500;

      @include sp {
        font-size: 16px;
      }
    }
  }

  &__link {
    margin-top: 120px;
    text-align: right;

    @include sp {
      margin-top: 40px;
      padding-right: 16px;
    }
  }
}
