@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// ============================================================
//  ABOUT SECTION
// ============================================================
.about {
  margin-top: 100px;
  padding: $section-pad-v 0;

  &__text {
    width: fit-content;
    margin: 0 auto;
    padding-top: 10px;
    
    p {
      font-size: 18px;
      line-height: 2;
      color: $color-text;
      margin-bottom: 20px;
      font-weight: 400;

      @include sp {
        font-size: 16px;
      }
    }
  }

  &__link {
    margin-top: 70px;
    text-align: center;

    @include sp {
      margin-top: 40px;
      padding-right: 16px;
    }
  }
}
