@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// ============================================================
//  HERO SECTION
// ============================================================
.hero {
  position: relative;
  background-color: #117ABE; // 画像の背景と同じ青

  @include sp {
    overflow-x: clip;
  }

  &__bg {
    position: relative;
    pointer-events: none;

    @include sp {
      overflow: hidden;
      width: 100%;
    }

    // 下部グラデーション画像
    &::after {
      content: "";
      position: absolute;
      bottom: -180px;
      left: 0;
      width: 100%;
      height: 200px;
      background-image: url("../images/hero-bottom.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: bottom center;
      pointer-events: none;
      z-index: 1;
 
      @include sp {
        height: 120px;
      }
    }

    img {
      display: block;
      width: 100%;
      max-width: 1200px;
      height: auto;
      margin-inline: auto;

      @include sp {
        width: 150%;
        max-width: none;
        transform: translate(-16%, 1%);
      }
    }
  }

  &__text {
    position: absolute;
    left: 35%;
    top: 30%;
    z-index: 5;

    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    text-shadow:
      1px 1px 14px rgba(238, 179, 0, 0.82),
      0 0 20px rgba(238, 179, 0, 0.4);
  }

  &__line {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.02em;
  }
}

.large {
  font-size: 80px;
}
