@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// ============================================================
//  SERVICE SECTION (WORK FLOW)
// ============================================================
.service {
  padding: $section-pad-v 0;
  padding-bottom: 100px;
  background-color: #0F65A3;

  .section-title {
    text-align: left;
  }

  &__lead {
    text-align: left;
    font-size: 16px;
    color: #fff;
    line-height: 2;
    margin-bottom: 60px;

    @include sp { text-align: left; }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-end;
  }

  &__step {
    position: relative;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 40px;
    align-items: flex-start;
    background: $color-white;
    border-radius: 30px;
    padding: 40px 60px 6px 100px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 1000px;
    @include transition(box-shadow);

    &:hover { box-shadow: 0 6px 32px rgba(0,0,0,0.08); }

    @include sp {
      grid-template-columns: 1fr;
      padding: 24px;
      gap: 0;
    }

    p {
      font-size: 17px;
      line-height: 2;
      color: $color-text;
    }
  }

  &__step-img {
    img {
      border-radius: 8px;
      width: 100%;
      height: auto;
    }
  }

  &__step-label {
    position: absolute;
    top: 0;
    left: -60px;

    display: inline-block;
    font-family: "Knewave", cursive;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.1em;

    color: #343434;
    background: #F28E55;

    padding: 10px 22px;
    border-radius: 10px;

    @include sp {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__step-title {
    font-family: $font-en;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: $color-text;
    line-height: 1.6;
    margin-bottom: 12px;
  }

  &__link {
    text-align: right;
    margin-top: 30px;
  }
}

